{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    {% set background_image = '/static/login-background.jpg' %}
    <div id="register-page" class="d-flex justify-content-center align-items-center vh-100">
        <a href="/">
            <img id="logo" src="/static/logo.png" alt="Main Logo">
        </a>
        <div class="card" style="margin: 1rem; background-color: bisque;">
            <h2 class="text-center mb-4" style="font-family: 'Honk';">Login</h2>

            <form action="/login" method="post" novalidate>
                <div class="mb-3">
                    <input type="email" class="form-control" name="email" placeholder="Email" autofocus autocomplete="off" required aria-label="Email">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="off" required aria-label="Password">
                </div>


                <button type="submit" class="btn btn-primary w-100">Login</button>

                <hr>
                Don't have an account? Create now!<a href="/signup">Signup</a>
            </form>
        </div>
    </div>
{% endblock %}
